/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}


/*** Composition ***/
.flow>*+* {
  margin-block-start: var(--flow-space);
}

.flow-lg>*+* {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>* {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth {
  grid-column: fullwidth;
}


/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.article-tag {
  display: inline-block;
  padding: 1rem;
  border-radius: 100vw;
  background-color: var(--clr-accent);
  color: white;
  &:hover {
    text-decoration: none;
  }
}

header svg {
    stroke: var(--clr-air);
    fill: none;
}

header h1 {
  color: var(--clr-air);
  font-size: var(--fs-500);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 0;
}

header section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

header nav a {
  font-weight: var(--fw-medium);
  color: var(--clr-air);
}

header .content-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main > section:first-of-type {
  margin-top: 4rem;
  text-align: center;
}

main > section:first-of-type p {
  max-width: 60ch;
  margin: 1.5rem auto 3rem;
}

main > section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

main > section:nth-of-type(2) img {
  width: 40rem;
  max-width: 100%;
  border: 0.75rem solid white;
  box-shadow: var(--border-shadow);
}

main > section:nth-of-type(3) {
  background-color: white;
  margin-block: 4rem;
  padding: 3rem;
  display: block;

}

main > section:nth-of-type(3) > * {
  max-width: 70rem;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

main > section:nth-of-type(3) h2 {
  max-width: 25ch;
  align-items: center;
}

main > section:nth-of-type(3) > h2 {
  max-width: 70rem;
  margin-inline: auto;
}

main > section:nth-of-type(3) form {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-accent);
  border-radius: 100vw;
  overflow: hidden;
  padding: 0.25rem;
  background-color: white;
  max-width: fit-content;
  
}

main > section:nth-of-type(3) input {
  padding: 0.6rem 1rem;
  border-radius: 100vw;
  border: none;
  min-width: 14rem;
  background-color: white;
  color: black;
  
}

main > section:nth-of-type(3) button {
  padding: 0.6rem 1.25rem;
  border-radius: 100vw;
  border: none;
  background-color: var(--clr-accent);
  color: white;
  cursor: pointer;
}

main > section:nth-of-type(3) svg {
  width: 14rem;
  height: 14rem;
  background-color: var(--clr-accent);
  border-radius: 50%;
  padding: 1.25rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: var(--border-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.card h2 {
  font-size: 1.25rem;
  margin: 0.75rem 0;
}

.card p:last-of-type {
  margin-top: auto;
  font-size: 0.85rem;
  color:var(--clr-primary)
}

.card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.card > p {
  display: inline-block;
  padding: 0.3rem 0.75rem;
  border-radius: 100vw;
  font-size: 0.75rem;
  font-weight: var(--fw-medium);
  color: rgb(0, 0, 0);
  margin-right: 0.4rem;
  margin-bottom: 0.5rem;
}


.tag {
  display: inline-block;
  padding: 0.3rem 0.75rem;
  border-radius: 100vw;
  font-size: 0.75rem;
  color: white;
  margin-right: 0.4rem;
  margin-bottom: 0.5rem;
}

.tag.flower { background-color: var(--clr-flower); }
.tag.edible { background-color: var(--clr-edible); }
.tag.green { background-color: var(--clr-green); }
.tag.decorative { background-color: var(--clr-decorative); }
.tag.colorful { background-color: var(--clr-colorful); }
.tag.fast { background-color: var(--clr-fast); }
.tag.sun { background-color: var(--clr-sunloving); }
.tag.easy { background-color: var(--clr-easy); }
.tag.air { background-color: var(--clr-air); }
.tag.robust { background-color: var(--clr-robust); }
.tag.fragrant { background-color: var(--clr-fragrant); }


@media (max-width: 768px) {
  header nav ul {
    gap: 1rem;
  }
  
  main > section:nth-of-type(2) img {
    border-width: 0.5rem;
  }
  header .content-grid {
    flex-direction: column;
    gap: 1rem;
  }
}